.wrapper {
    display: flex;
    flex: 1;
    flex-flow: column;
    background: #E2E5E5;
    padding: 20px 30px;
}

.wrapper h1 {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.wrapper p {
    text-align: center;
}
