
.listWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.listWrapper:hover {
    background: rgba(0, 0, 0, 0.2);
}

.listWrapper button {
    background: none;
    border: 0;
    cursor: pointer;
}

.listWrapper button:focus {
    outline: none;
}

.listSelected.listWrapper {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.listSelected button p {
    color: white;
}

.listButton {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 0 0 10px;
}

.listButton div {
    width: 13px;
    color: rgba(255, 255, 255, 0.8);
}

.listButton p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
}

.removeButton {
    height: 45px;
    width: 45px;
    color: rgba(255, 255, 255, 0.7);
}

.removeButton:hover {
    color:white;
}